pandas~=1.1.0
numpy~=1.18.5
torch~=1.6.0
pygcn~=0.1
scipy~=1.4.1
matplotlib~=3.3.1
scikit-learn~=0.23.2
bunch~=1.0.1
graphviz~=0.14.1
setuptools~=47.1.0
stellargraph~=1.2.1
tensorflow~=2.3.0
tensorflow-gpu~=2.3.0
Keras~=2.4.3